* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #295255;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #162623;
    padding: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: block;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formularioRegistro {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#formularioRegistro button{
    padding: 12px;
    background-color: #295255;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.formulario-estudiante {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #295255;
}

.form-group input,
.form-group button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #295255;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #1c3a3c;
}

.form-clase {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-clase input, 
.form-clase textarea {
    padding: 10px;
    width: 380px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.form-clase textarea {
    min-height: 100px;
}

.form-clase button {
    padding: 12px;
    margin-right: 80px;
    background-color: #295255;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.form-clase button:hover {
    background-color: #1c3a3c;
}

.form-clase-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-clase-2 input, 
.form-clase-2 textarea {
    padding: 10px;
    width: 880px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.form-clase-2 textarea {
    min-height: 100px;
}

.form-clase-2 button {
    padding: 12px;
    background-color: #295255;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.form-clase-2 button:hover {
    background-color: #1c3a3c;
}

.h2 {
    text-align: center;
}

.parrafo {
    text-align: center;
}

.footer {
    background-color: #295255;
    color: white;
    text-align: center;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

th {
    background-color: #295255; 
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

/* Celdas de la tabla */
td {
    color: #333;
    background-color: #f9f9f9; 
    transition: background-color 0.3s; 
}

tr:nth-child(even) td {
    background-color: #f1f1f1; 
}

tr:hover td {
    background-color: #e6f2f2; 
    cursor: pointer; 
}


td button {
    background-color: #295255;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}


td button:hover {
    background-color: #1c3a3c;
}

th.checkbox-column, td.checkbox-column {
    width: 30px; 
    text-align: center;
    padding: 0;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

#submenu-estudiantes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 250px;
}

#submenu-estudiantes button {
    width: 100%;
    padding: 12px 15px;
    background-color: #295255;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-align: left;
}

.error-message {
    font-size: 0.9rem;
    color: red;
    margin-top: 5px;
    display: block;
}


#submenu-estudiantes button:hover {
    background-color: #1c3a3c;
    transform: translateX(5px);
}

#submenu-estudiantes button:active {
    transform: translateX(5px) scale(0.98);
}

button {
    background-color: #295255;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c3a3c;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}